
<div class="rectangle">

  <div class="topnav">

    <div class="search-container">

      <form action="/action_page.php">

        <input type="text" placeholder="Search" name="search">

        <button type="submit"><i class="fa fa-search"></i></button>

      </form>

    </div>

  </div>   

  <div class="mapcontainer">

      <input class="menubutton" type="image" src="https://i.imgur.com/YNFPQVv.png" alt="menu" style="border-radius: 50%" height="50" width="50"/> 

      <mgl-map id="map" [style]="'mapbox://styles/mapbox/dark-v9'" [zoom]="[15]" [center]="[-115.010276, 36.272285]">

        <mgl-marker 
        [lngLat]="[ -115.01206200000000,
        36.27393900000000]"
        >
        <div class="marker cm">Cosmic Meadow</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.006859,
        36.274769]"
        >
        <div class="marker">Kinectic Field</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.012835,
        36.269410]"
        >
        <div class="marker">Circuit Grounds</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.012758,
        36.271927]"
        >
        <div class="marker">Neon Garden</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.010281,
        36.270249]"
        >
        <div class="marker">Basspod</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.008007,
        36.271520]"
        >
        <div class="marker">Wasteland</div>
        </mgl-marker>
      
        <mgl-marker 
        [lngLat]="[-115.009979,
        36.274019]"
        >
        <div class="marker qv">Quantum Valley</div>
        </mgl-marker>
       
        
      
      
      </mgl-map>
  </div>   

</div>

<!-- 
<mgl-map id="map" [style]="'mapbox://styles/mapbox/dark-v9'" [zoom]="[15]" [center]="[-115.010276, 36.272285]">

  <mgl-marker 
  [lngLat]="[ -115.01206200000000,
  36.27393900000000]"
  >
  <div class="marker cm">Cosmic Meadow</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.006859,
  36.274769]"
  >
  <div class="marker">Kinectic Field</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.012835,
  36.269410]"
  >
  <div class="marker">Circuit Grounds</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.012758,
  36.271927]"
  >
  <div class="marker">Neon Garden</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.010281,
  36.270249]"
  >
  <div class="marker">Basspod</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.008007,
  36.271520]"
  >
  <div class="marker">Wasteland</div>
  </mgl-marker>

  <mgl-marker 
  [lngLat]="[-115.009979,
  36.274019]"
  >
  <div class="marker qv">Quantum Valley</div>
  </mgl-marker>
 
  


</mgl-map> -->