#footer{
    width: 100%;
    bottom: 0;
    background-color: yellow;
    /* position: fixed;
    margin-left: -10px; */
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
    display: inline;
}