<!-- <div id="footer">
  <ul>
    <li><a [routerLink]="['']">SOS</a></li>
    <li><a [routerLink]="['/map']">GPS</a></li>
    <li><a [routerLink]="['/party']">PLURtify</a></li>
  </ul>
</div> -->

<div class="navbar">  
    <a [routerLink]="['/map']">Maps</a>
    <!-- <a [routerLink]="['/userprofile']" class="active">Friend</a> -->
    <a [routerLink]="['/friendlist']" class="active">Friend List</a>
    <a [routerLink]="['/party']">Plurtify!</a>
    <!-- <a [routerLink]="['/friendlist']">Friend List</a> -->
    <a [routerLink]="['']">SOS</a>
</div>